# dependencies
node_modules/

# testing
coverage/

# production
dist/

# typescript
tsc_output
tsconfig*.tsbuildinfo

# env
.DS_Store
.env.local
.envrc

# IDE files
.idea
*.swp

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
